// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

html {
  min-width:100%;
  min-height:100%;


}

label {
  font-size: 20px;
}
html:after {
  content : "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-image: image-url("twitter_lov_na_blago.jpg");
  width: 100%;
  height: 100%;
  opacity : 0.5;
  z-index: -1;


}

#has {
  
  font-size: 40px;
}

input.btn-primary {
  margin-top: 20px;
  font-size: 20px;

}
