<header class="navbar navbar-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <%= link_to "HideAndSick", 'main', id: "logo" %>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    'main' %></li>
          <li><%= link_to "About",    'about' %></li>
          <li><%= link_to "Contact", 'contact' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
